HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/

### Secrets ###
.env
application-local.properties
application-local.yml

# Local configuration files
*-local.yml
*-local.properties

data/

# 로그 파일 무시
logs/
*.log

### macOS ###
**/.DS_Store

### Log ###
/chat-server/logs/chat.log
/api-server/logs/api.log
/batch-server/logs/batch.log

*-.log
api-server/logs
batch-server/logs
chat-server/logs

**/.DS_Store
.DS_Store
api-server/src/main/.DS_Store
batch-server/src/main/.DS_Store
chat-server/src/main/.DS_Store