# 개발 환경 설정
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/zonie-dev
    username: your-dev-username
    password: your-dev-password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create # 개발 초기에는 create 또는 update 사용
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    root: INFO
    com.grm3355.zonie: DEBUG
